<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    
    <!--app start-->
    <div id="app">

        <div class="container">



            
            <div  class="slider-wrapper" > <!--tabindex="0"-->

                <div v-for="(slide,index) in slides" v-show="tabIndex === index" class="item" >
                    <img :src="slide.image" :alt=" 'immagine ' + (index +1)"/>
                    <div class="text">
                        <h3>{{slide.title}}</h3>
                        <p>
                         {{slide.text}}
                        </p>
                    </div>
                </div>

                 
                 <!--thumbs start-->
                <div class="thumbs">
                    <div @click="forward()" class="next"></div>
                    <div @click="backward()" class="prev"></div>

                    <div v-for=" (slide,index) in slides" class="thumb" @mouseover="hoverSlide(index)">
                        <img  :src="slide.image"  :alt="'thumb '+ (index+1)" />
                    </div>
                </div>
                <!--thumbs end-->

            </div>
        </div>

    </div>
   <!--app end-->

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="script.js"></script>
</body>

</html>